/* =========================================
   Base Elements
   ========================================= */
body {
  /* Background */
  background-color: #2A252A;
  color: #e0e0e0;
  padding: 20px;

  /* Font */
  font-family: Tahoma, sans-serif;
  font-size: 1.2rem;
  
}

p {
  margin-bottom: 0rem; 
}

strong {
  /* Text */
  color: #E9C46A;
}

ul {
  padding-left: 20px;
  padding-top: 0px;
}
li > ul {
  padding-left: 15px;
}

blockquote {
  padding-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

a {
  color: #e0e0e0 !important;
}

/* =========================================
   Headings
   ========================================= */
h1 {
  /* Background */
  background-color: #1e1e1e; 
  padding: 20px;
  border-radius: 20px;
  border: 3px dotted #555555 !important; 

  /* Text */
  text-decoration: none;
  text-align: center;
}

h2 {
  /* Background */
  padding: 10px; 

  /* Border */
  border-bottom: 3px solid #E9C46A !important;
  border-top: 3px solid #E9C46A !important;
}

h3 {
  /* Text */
  font-size: 1.5rem;

  /* Background */
  padding: 5px 5px 5px 10px; /* Top, Right, Bottom, Left */

  /* Border */
  border-top: 2px dashed #555555;
  border-bottom: 2px dashed #555555;
}

/* =========================================
   Layout & Containers
   ========================================= */

/* The Table of Contents (Left Side) */
.toc-sidebar {
  position: fixed; 
  top: 20px;
  left: 20px;
  width: 30%; 
  
  /* Use calc() to keep the bottom border on screen */
  height: calc(100vh - 40px); 
  overflow-y: auto;
  
  padding: 20px 10px 20px 20px;
  background-color: #1e1e1e;
  border-radius: 20px;
  border: 3px dotted #555555 !important;

  /* Crucial: Prevents padding/borders from adding to the 30% width */
  box-sizing: border-box; 
}

/* The Main Content (Right Side) */
.main-content {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 65%; 
  
  /* Use calc() to keep the container perfectly sized on screen */
  height: calc(100vh - 40px); 
  overflow-y: auto;
  padding-bottom: 20px;

  
  /* Crucial: Prevents padding from pushing the width beyond 65% */
  box-sizing: border-box; 
}

/* =========================================
   Tables
   ========================================= */
table {
  /* Background */
  display: block; 
  width: max-content; 
  max-width: 100%; 
  padding: 5px;
  
  /* Scroll */
  overflow-x: auto; 
  white-space: nowrap; 
}

/* =========================================
   Responsive Design (Media Queries)
   ========================================= */
@media screen and (max-width: 800px) {
  .toc-sidebar {
    display: none !important; /* Hides TOC on smaller windows */
  }
  
  .main-content {
    width: calc(100% - 40px); /* Allows text to expand and prevents overlap */
  }


}